body{text-align:center;
background-image:linear-gradient(#fc0303,#032cfc,#641c00);}
ul{background:#00d9ff;
 font-size:20px;
}
h7{
font-size:20px;

}
li a{
color:aquamarine;

}
img{
width:600px;



}